* {
  box-sizing: border-box;
}
li,
a {
  display: block;
}

/* tổng thể phần nav bar */
.navigation {
  position: fixed;
  height: 100vh;
  left: 0px;
  top: 0px;
  min-width: 91.325px;
  background-color: #ffffff;
  border-radius: 0 30px 0 0;
  display: flex;
  justify-content: center;
}

.navigation_list {
  padding: 20px 0;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
}

/* 4 ô nav dưới nút home */

.component {
  height: 46px;
  width: 46px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 4px rgba(156, 156, 156, 0.1),
    -2px -2px 4px rgba(208, 208, 208, 0.15);
  border-radius: 12px;
  margin-bottom: 22px;
  transition: transform 0.5s;
}
/* svg */
.navigation_list_item svg{
  fill: #D2d2d2;
}


.home_icon_component {
  display: inline-block;
  padding: 10px 10px;
  height: 46px;
  width: 46px;
}

/* thẻ a bao ngoài */
/* .active, .componentx:hover { */

.navigation_list_item a:hover {
  background-color: #fff;
  cursor: pointer;
  transform: scale(1.2);
  /* background: #ff8001; */
  box-shadow: 4px 4px 4px rgba(255, 128, 1, 0.25),
    -2px -2px 4px rgba(208, 208, 208, 0.15);
  /* border-radius: 45px; */
}

.navigation_list_item a:hover svg{
  fill: #ff8001;
}

.active {
  border-radius: 45px;
  background-color: #ff8001 !important;
  transform: scale(1.2);
}

.active svg{
  fill: #fff !important;
}

.log {
  position: absolute;
  top: 295px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.log_icon {
  margin-top: 20px;
  transition: transform 0.5s;
}

.log_icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.icon_wrap {
  background-color: #ff8001;
  display: block;
  font-size: 50px;
}
